<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
</head>
<body>
    <table>
        <tr>
            <td>First_name</td>
            <td>Last_name</td>
            <td>age</td>
        </tr>
        {% for i in met %}
        <tr>
            <td>{{i.first_name}}</td>
            <td>{{i.last_name}}</td>
            <td>{{i.age}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>